.navBar{
  background-color: #fff;

}

.navBar a{
  float: left;
  color: grey;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Tahoma;
}

.navBar a:hover{
  background-color: white;
  color: #009cde;
}