<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  </head>

  <body>
  <nav class="navbar" role="navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/login">Login</a>
      <a class="navbar-item" href="/register">Register</a>
    </div>
  </nav>
    {% block content %}{% endblock %}
  </body>

</html>