{% extends 'base.html' %}

{% block content %}
    <script>
        window.onload=function(){
            const ctx = document.getElementById("myChart").getContext('2d');
            var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
            var yValues = [55, 49, 44, 24, 15];
            var barColors = [
              "#b91d47",
              "#00aba9",
              "#2b5797",
              "#e8c3b9",
              "#1e7145"
            ];

            new Chart(ctx, {
              type: "pie",
              data: {
                labels: xValues,
                datasets: [{
                  backgroundColor: barColors,
                  data: yValues
                }]
              },
            });
        }

        function dropdownClicked(spanId, option){
            document.getElementById(spanId).innerText = option.innerText;
            for (c of option.parentNode.children){
                c.classList.remove('is-active');
            }
            option.classList.add('is-active');
        }
    </script>
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-one-third">
                <div class="box">
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item">
                                Income
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <div class="dropdown is-hoverable" id="dropdown1">
                                  <div class="dropdown-trigger">
                                    <div>
                                      <span id="span1">2022</span>
                                    </div>
                                  </div>
                                  <div class="dropdown-menu" id="dropdown-menu-1" role="menu">
                                    <div class="dropdown-content">
                                      <a onclick="dropdownClicked('span1', this)" class="dropdown-item">
                                        2022
                                      </a>
                                      <a onclick="dropdownClicked('span1', this)"class="dropdown-item">
                                        2021
                                      </a>
                                      <a onclick="dropdownClicked('span1', this)" class="dropdown-item">
                                        2020
                                      </a>
                                      <a onclick="dropdownClicked('span1', this)" class="dropdown-item">
                                        2019
                                      </a>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="body-section"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}